<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="hero">
            <h1>Hello, I'm kharbech malek</h1>
            <p>Welcome to my portfolio website</p>
        </div>
    </header>

    <main>
        <section id="about">
            <h2>About Me</h2>
            <div class="about-container">
                <img src="./assets/me.jpg" alt="Your Picture" class="profile-picture">
                <p>I am a enginneer with a passion for technology.</p>
            </div>
        </section>

        <section id="experience">
            <h2>Experience</h2>
            <div class="experience-card">
                <img src="./assets/datadoit.jpg" alt="DataDoit">
                <div>
                    <h3>DataDoIt</h3>
                    <p>Role: Software Developer</p>
                    <p>Description: Worked on developing innovative software solutions for small businesses.</p>
                </div>
            </div>
            <div class="experience-card">
                <img src="./assets/images.png" alt="Samsung">
                <div>
                    <h3>Samsung</h3>
                    <p>Role: Software Developer</p>
                    <p>Description: Worked on developing innovative software solutions for small businesses.</p>
                </div>
            </div>
            <div class=" experience-card">
                <img src="./assets/TechSphere_Solution.jpg" alt="TechSphere Solutions" class="techSol">
                <div>
                    <h3>TechSphere Solutions</h3>
                    <p> Role :Software Developer</p>
                    <p>Description: Developed custom CRM software for mid-sized enterprises, 
                        integrating advanced analytics tools to enhance customer insights. </p>
            </div>
            </div>
        </section>

        <section id="projects">
            <h2>Projects</h2>
            <div class="project-card">
                <h3>inscription dans salle de sporte</h3>
                <p>ilya plusieur type de sport et client faire inscri et choisire le chois. </p>
            </div>
            <div class="project-card">
                <h3>Movies App</h3>
                <p>application pour stock des film /serie et faire modification , ajoute , suppression.</p>
            </div>
            <div class="project-card">
                <h3>Formulaire pour fair reservation </h3>
                <p>utlise dans cette application html css php base donne pour faire reservation dans hotel et stock dans un tableau.</p>
            </div>
            <div class="project-card">
                <h3>Gestion de PFE </h3>
                <p>facilite la gestion des stages et projets de fin d'études pour les étudiants.</p>
            </div>
        </section>

        <section id="skills">
            <h2>Skills</h2>
            <div class="skills-container">
                <div class="skill">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" alt="React Logo">
                    <p>React</p>
                </div>
                <!--
                <div class="skill">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="Node.js Logo">
                    <p>Node.js</p>
                </div>
                <div class="skill">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="Angular Logo">
                    <p>Angular</p>
                </div>-->
                <div class="skill">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="JavaScript Logo">
                    <p>JavaScript</p>
                </div>
                <div class="skill">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" alt="HTML Logo">
                    <p>HTML</p>
                </div>
                <div class="skill">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg" alt="CSS Logo">
                    <p>CSS</p>
                </div>
                <div class="skill">
                    <img src="./assets/php.png" alt="logo php">
                    <p>PHP</p>

                </div>
            </div>
        </section>

        <section id="contact">
            <h2>Contact Me</h2>
            <p>Email: <a href="mailto:yourname@example.com">kharbechmalek@gmail.com</a></p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 kharbech malek. All rights reserved.</p>
    </footer>
</body>
</html>
